examples/Get current volume.json
[
    {
        "id": "4d39bd7ab87afe9a",
        "type": "tab",
        "label": "Get Volume",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3407bac2b472b961",
        "type": "comment",
        "z": "4d39bd7ab87afe9a",
        "name": "",
        "info": "# Get Volume Information\n- retrieve volume information\n- output absolute volume per auto filter",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "fa614a983e07f7bd",
        "type": "inject",
        "z": "4d39bd7ab87afe9a",
        "name": "trigger",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "df4eb5e43d172073"
            ]
        ]
    },
    {
        "id": "df4eb5e43d172073",
        "type": "sonyaudio-control",
        "z": "4d39bd7ab87afe9a",
        "outputs": 1,
        "name": "",
        "device": "0e75f019819cb4e7",
        "action": "getVolumeInfo",
        "actionType": "retrieve",
        "api": "system.setPowerStatus@1.1",
        "apiType": "str",
        "params": "{\"status\": \"active\"}",
        "paramsType": "json",
        "networkUpdate": true,
        "volume": "1",
        "relativeVolume": false,
        "source": "extInput:tv",
        "port": "1",
        "preset": "0",
        "zone": "0",
        "soundSettings": [
            {
                "target": "soundField",
                "value": "clearAudio"
            }
        ],
        "soundTarget": "soundField",
        "speakerSettings": [
            {
                "target": "inCeilingSpeakerMode",
                "value": "off"
            }
        ],
        "speakerTarget": "inCeilingSpeakerMode",
        "modeSettings": [
            {
                "target": "playType",
                "value": "normal"
            }
        ],
        "modeTarget": "playType",
        "outputProperties": [
            {
                "type": "msg",
                "name": "topic",
                "value": {
                    "type": "str",
                    "content": "{{host}}/{{service}}.{{method}}@{{version}}"
                }
            },
            {
                "type": "msg",
                "name": "payload",
                "value": {
                    "type": "filtered",
                    "content": "auto"
                }
            }
        ],
        "msgPassThrough": true,
        "sendIfPayload": true,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "b5e76ec406bd7cc7"
            ]
        ]
    },
    {
        "id": "b5e76ec406bd7cc7",
        "type": "debug",
        "z": "4d39bd7ab87afe9a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "0e75f019819cb4e7",
        "type": "sonyaudio-device",
        "name": "my device",
        "host": "192.168.1.42",
        "port": "10000",
        "extendedRecovery": false,
        "numRetries": "0",
        "retryDelay": "60"
    }
]
